node_modules
dist
dist-ssr
*.local
.tmp-check
.tmp-scrape
.DS_Store
.vite
.vscode/*
!.vscode/extensions.json
.idea
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env
.env.local
.env.*.local
